

/*------------------------------------------------------------------------*/
/*------------------------------- Variables -------------------------------*/
/*------------------------------------------------------------------------*/

:root {
  --dark-blue: #05518D;
  --blue: #6186AE;
  --light-blue: #6193BC;
  --lighter-blue: #C0E0FF;
  --values-blue-bg: #E7F3FF;


  --calculator-blue-bg : #3E749D;

  --orange: #EC6933;
  --dark-orange: #CC5B2D;
  --light-orange: #E7C4B5;
}


/*------------------------------------------------------------------------*/
/*---------------------------- General Styles ----------------------------*/
/*------------------------------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM sans', serif;
  z-index: 1;
}

h1 {
  font-size: 40px;
  line-height: 52px;
}

h2 {
  font-size: 25px;
  line-height: 33px;
}

p {
  font-size: 16px;
  line-height: 22px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.no-focus:hover {
  outline: 0;
  box-shadow: none;
}

/*------------------------------------------------------------------------*/
/*-------------------------- General Components --------------------------*/
/*------------------------------------------------------------------------*/


/*------------- Outline Secondary Button -------------*/

.btn-outline-secondary {
  border: 2px solid var(--dark-blue);
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--dark-blue);
  padding: 0 24px;
  height: 40px;
  margin-right: 21px;
  font-size: 20px;
}

.btn-outline-secondary:hover {
  font-weight: bold;
  background-color: var(--dark-blue);
  color: white;
  border-color: var(--dark-blue);
}

/*------------- Orange Secondary Button -------------*/

.btn-secondary {
  height: 40px;
  padding: 0 30px;
  background: var(--orange);
  border: 2px solid var(--orange);
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

.btn-secondary:hover {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
  font-weight: bold;
}

/*------------- Orange Secondary Button -------------*/

.btn-primary {
  background-color: var(--orange);
  border-radius: 10px;
  color: white;
  border:none;
}

.btn-primary.big {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}

.btn-primary.small {
  width: 200px;
}
.btn-primary:hover {
  background-color: var(--dark-orange);
}

/*-------------  Pagination Buttons -------------*/

.page-item {
  width: 38px;
  height: 38px;
  margin: 0 5px;
}

.page-item.active .page-link {
  background-color: #9ABBD2;
  color: black;
  border: 1px solid #9ABBD2;
}


.page-link {
  border: 1px solid #9ABBD2;
  font-size: 18px;
  color: black;
}

.page-item:hover .page-link {
  border: 1px solid #9ABBD2;
  font-weight: bold; 
  color: black;
}


/*-------------  Header -------------*/

header {
  background-color: var(--lighter-blue);
}

.header-logo {
  height: 50px;
}

header .nav-link {
  color: black;
}


/*-------------  Filter Items -------------*/

select {
  background-color: white;
  border: 1px solid var(--orange);
  color: var(--dark-orange);
  border-radius: 5px;
  padding: 8px 12px;
}

select:hover {
  background-color: var(--light-orange);
}

select:focus {
  outline: none;
}


/*-------------  Checkmark cards -------------*/

.checkmarks-card, .shadow-and-border-radius {
  box-shadow: 1px 2px 15px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.checkmarks-card .card-title {
  color: var(--dark-blue);
}

.checkmarks-card p {
  text-align: left;
}

.checkmarks-card p img {
  margin-right: 10px;
}


/*----------------- Contact Forms -----------------*/

.contact-form {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: white;
}

.contact-form .form-check label {
  font-weight: bold;
}

.contact-form .form-group label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.contact-form input.form-control {
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.contact-form .alert-success {
  color: #398714;
  font-weight: bold;
}

.contact-form a {
  font-weight: normal;
  text-decoration: underline;
  color: black;
}

/* Footer  */

footer {
  background-color: var(--blue);
  color: white;
  padding: 62px 0 40px 0;
}

footer .footer-container {
  padding: 0 100px;
}

footer a {
  color: white;
}

footer p {
  margin-bottom: 5px;
}

footer .footer-elements .col > p:first-child{
  font-weight: bold;
  margin-bottom: 1rem;
}

footer .icons-container i {
  margin: 0 20px 1rem 0;
}

hr {
  border-color: white;
  margin-bottom: 20px;
}
/*------------------- Home section -------------------*/


.image-container{
  background: url(./images/Hero.png);
  width: 100%;
  background-size: cover;
  height: 32rem;
  background-repeat: no-repeat;
}

.image-central-text{
  margin-left: 7rem;
}

/* Information Section  */

section.information-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5rem;
}

.section-paragraph{
  margin-top: 1.5rem;
}

section.information-section h2, section.information-section h3{
  text-align: center;
}

.search-menu{
  background: #05518D;
  height: 91px;
  width: 793px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 29px;
}
.buy-rent-container{
  display: flex;
}

.buy-rent-container button{
  flex : 1;
}

.buy-rent-container button:first-child{
  border-radius: 5px 0 0 5px;
  border-right: 2px solid #000 ;
  
}

.buy-rent-container button:last-child{
  border-radius: 0 5px 5px 0;
}

.search-menu input{
  height: 54px;
  flex: 1;
  border-radius: 5px;
  border: none;
  margin: 0 29px;
  padding: 0 0 0 20px;
}

.search-menu input::placeholder {
  color: black; 
}

.search-menu input:focus {
  outline: none;
}

.search-menu button{
  height: 54px;
  width: 126px;
  border: none;
}

.search-menu .btn-search {
  border-radius: 5px;
}

.section-paragraph {
  margin-bottom: 30px;
}

.section-paragraph strong {
  border-bottom: 2px solid var(--orange)
}

.information-section h1 {
  margin-top: 55px;
}

.information-section .cards-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 80px 0 100px 0;
}

/* Social Impact Section  */

.social-impact {
  background-color: var(--light-blue);
  color: white;
  text-align: center;
  padding: 50px 0 55px 0;
  position: relative;
  overflow: hidden;
}

.social-impact-items-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}

.social-impact-items-container h1 {
  font-size: 100px;
  margin-bottom: 30px;
}

.social-impact * {
  z-index: 1;
}

.social-impact svg {
  width: 100%;
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* People Section  */

.container.people {
  padding: 80px 0 0 0;
}

.container.people .row {
  margin-top: 30px;
}

blockquote {
  font-size: 25px;
}

blockquote:before {
  color: var(--blue);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: var(--blue);
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.container.people .col:first-child {
  display: flex;
  align-items: center;
  background-color: #F1F8FF;
  margin-right: -20px;
}

/* About us */

.about-us .description {
  padding: 70px 0 0 0;
}

.about-us .description p {
  margin-top: 30px;
  text-align: justify;
}

/* Values container  */

.values-container {
  background-color: var(--values-blue-bg);
  padding: 100px 0;
}

.values-container h1 {
  margin-bottom: 100px;
}

.value-items-row {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.value-item {
  margin: 0 25px;
}
section.carrusel-image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collaborators-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
section.contact-container{
  padding: 245px 0 130px 0;
  margin: -245px 0 0 0;
  position: relative;
  background-image: url('images/form-bg.png');
  background-position: center bottom;
}

div.contact-container-flex{
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

section h2{
  padding: 30px 0;
  text-align: center;
}

.collaborators-logos{
  width: 500px;
  display: flex;
  justify-content: space-between;
}

img.arrels{
width: 195px;
}

img.mambre{
width: 274px;
}

section.contact-container aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.contact-container-text img{
  width : 288px;
}

.values-container .value-item {
  width: 100%;
  max-width: 360px;
}

.values-container .value-item img {
  width: 52px;
  height: fit-content;
}
/*Homepage*/

/* Our Ecosystem */

.ecosystem-container {
  padding: 100px 0;
}
  .ecosystem-container h1 {
    margin-bottom: 30px;
  }
  
  .ecosystem-container img {
    width: 90%;
    max-width: 700px;
    margin-top: 70px;
  }


/*Calculadora Social*/
section.calculator-container{
  background-color: var(--calculator-blue-bg);
  color:white;
  height: 682px;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

section.calculator-container h1{
  text-align: center;
  font-size: 85px;
  line-height: 90px;
  
}
p.goToAparments{
  align-self: flex-start;
  margin-top: 39px;
}

section.calculator-container hr{
  width: 321px;
  height: 11px;
  background-color: white;
}
.input-radio-container{
  display: flex;
  justify-content: space-between;
  width: 321px;
  margin: 56px 0;
}

section.calculator-container input[type=radio]{
  height: 16px;
  width: 16px;
  margin-right: 16px;
  margin-top: 4px;
  
}
/* section.calculator-container input[type=radio]:active{} */

section.calculator-container {
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}

section.calculator-container p{
  margin-bottom: 24px;
}

section.calculator-container input[type=text]{
  height: 79px;
  width: 382px;
  left: 530px;
  top: 609px;
  font-size: 24px;
  border-radius: 8px;
  border:none;
  color: var(--calculator-blue-bg)
}

section.calculator-container input:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

section.comission-container{
  height: 682px;
  display: flex;
  flex-direction: column;
  color: var(--calculator-blue-bg);
  align-items: center;
  text-align: center;
}

section.comission-container p:first-child{
  font-size: 200px;
  font-family: 'DM Serif Text';
  line-height: inherit;
  margin-top: 100px;
}

section.destination-comission-container{
  height: 1303px;
  background-color: #F1F8FF;
  display: flex;
  flex-direction: column;
  align-items: center;
}


div.division-comission{
  height: 393px;
  width: 681px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

div.division-comission div:first-child{
  border-right: 1px solid rgba(196, 196, 196, 0.6);
}

div.tramits-partner-social{
  padding: 50px 63px;
  width: 50%;
  height: 100%;
}

.tramits-partner-social p:nth-child(1) {
  border-bottom: 1px solid #c4c4c4;  
  padding-bottom: 6px;
}

.tramits-partner-social p:nth-child(2){
  font-size: 72px;
  padding: 47px 0;
  line-height: 33px;
  color: var(--dark-blue);
  font-family: 'DM Serif Text';
}

.tramits-partner-social p:nth-child(2) span {
  font-size: 36px;
}

.tramits-partner-social p:nth-child(3) {
  border-top: 1px solid #c4c4c4; 
  padding-top: 10px;
  margin-top: 24px;   
}


/*Calculadora Social*/
.ecosystem-container {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us .description img {
  width: 100%
}

.about-us .row {
  width: 100%;
}